name: Using artifacts

on: [push]

env:
  ARTIFACT_NAME: ${{ secrets.ARTIFACT_NAME }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v2
      - name: Upload artifacts ${{ env.ARTIFACT_NAME }}
        uses: actions/upload-artifact@v1.0.0
